[Unit]
Description=LCD Display
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/SkyFiDisplay/service.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
